.blackPort{
    font-family: 'Poppins', sans-serif; 
    font-weight: 500;
}

.k{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
}

.china{
	font-family: 'Poppins', sans-serif;
    font-weight: 800;
}
